# Server Configuration
SERVER_PORT=3001
# Set this to your Python 3 executable path. You can find it by running 'which python3' in your terminal
# Example paths:
# - macOS: /usr/local/bin/python3 or /Library/Frameworks/Python.framework/Versions/3.x/bin/python3
# - Linux: /usr/bin/python3
# - Windows: C:\Python3x\python.exe
PYTHONPATH=/usr/local/bin/python3

# OpenAI Configuration
REACT_APP_OPENAI_API_KEY=your_openai_api_key_here

# NCBI Configuration
REACT_APP_NCBI_EMAIL=your_email@example.com
REACT_APP_NCBI_TOOL_NAME=recombyne-plasmid-editor
REACT_APP_NCBI_API_KEY=your_ncbi_api_key_here

# Development Configuration
REACT_APP_USE_MOCK_API=false 